extends layout

block content
    h1= title

    p #[strong Author:] #[a(href=book_detail.author.url) #{book_detail.author.name}] 

    p #[strong Summary:] #{book_detail.summary}

    p #[strong ISBN:] #{book_detail.isbn}
        
    p #[strong Genre:]&nbsp;
        each val, index in book_detail.genre
            a(href=val.url) #{val.name}
            if index < book_detail.genre.length - 1
                |,
    div(style='margin-left:20px;margin-top:20px')
        h4 Copies

        ul
            each book_instance in book_instances
                hr
                if book_instance.status=='Available'
                    p.text-success #{book_instance.status}
                else if book_instance.status=='Maintenance'
                    p.text-danger #{book_instance.status}
                else
                    p.text-warning #{book_instance.status}
                p #[strong Imprint: ] #{book_instance.imprint}
                if book_instance.status!='Available'
                    p #[strong Due back: ] #{book_instance.due_back}
                p #[strong Id:]&nbsp;
                    a(href=book_instance.url) #{book_instance._id}
            else
                p There is no copies of this book in the library.
